
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

#sidebar {
  background-color: #555;
  color: #fff;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

#sidebar h2 {
  padding: 15px 25px;
  margin: 0;
}

#sidebar a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

#sidebar a:hover {
  background-color: #777;
}

#content {
  margin-left: 270px;
  padding: 20px;
}

@media (max-width: 768px) {
  /* Adjust styles for screens smaller than 768px (typical mobile devices) */
  #sidebar {
      width: 100%;
      position: relative;
      height: auto;
  }

  #content {
      margin-left: 0;
      padding: 20px;
  }
}