body {
    margin: 0;
}
/* body, header, div, footer{
    margin: 10px;
    padding: 10px;
    border: solid black 4px;
} */
#halo{
    max-height: 200px;
}
@media (prefers-reduced-motion: no-preference) {
    #halo {
        animation: Halo-logo-spin infinite 5s linear;
    }
}
  
@keyframes Halo-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
header{
    display: flex;
    background-image: linear-gradient(rgb(255, 255, 255) , rgb(200, 200, 200));
    color: rgb(0, 0, 0);
    width: 100%;
}
h1{
    font-size:500%;
}
#tab-holder{
    display: flex;
    background-color: #f1f1f1;
}
.tab{
    color: black;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
#body-box{
    padding: 20px;
    display: flex;
    height: auto;
    align-content:flex-start;
}
.box{
    background-color: #f1f1f1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    align-self: auto;
    margin: 1rem;
}
#box-img{
    width: auto;
    height: auto;
    max-width: 20rem;
    /* border: solid #e0e0e0; */
}
footer{
    padding: 10px;
    background-color: #f1f1f1;
}