body {
    margin: 0;
}
/* body, header, div, footer{
    margin: 10px;
    padding: 10px;
    border: solid black 4px;
} */
header{
    display: flex;
    background-image: linear-gradient(white, #b9b9b9);
}
#halo{
    width: 200px;
    height: 200px;
}
h1{
    font-size: 80px;
}
@media (prefers-reduced-motion: no-preference) {
    #halo, #react {
        animation: Halo-logo-spin infinite 5s linear;
    }
}
@keyframes Halo-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover {
    background-color: #ccc;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
#body-box{
    display: flex;
    align-content: center;
    margin: 2rem;
}
.box{
    border: solid #ffffff 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;

}
#text-box{

}
#box-img{

}
footer{
    background-color: #f1f1f1;
    padding: 10px;
}